name: CI

on:
  workflow_dispatch:

jobs:
  build:
    uses: shubhamchav/Reuseable_Workflow_Main/.github/workflows/mainfilewithsecret.yml@master
    secrets:
      MY_SECRET: ${{ secrets.MY_SECRET }}
